
.container{
    display: flex;
    flex-direction: column;
    flex-wrap: flex-start;
    background-color: var(--secondary2-color);
    border-radius: 10px 10px 2px 2px;
    max-width: 250px;
    min-height: 500px;
    padding: 8%;
}

.image{
    align-self: center;
    margin-top: -10%;
    padding: 0;
    width: 250px;
    height: 250px;
    border-radius: 10px 10px 0 0;
}

.line1{
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.title{
    font-family: var(---main-font);
    font-size: 18px;
    color: black;
    font-weight: bold;
}

.price{
    font-family: var(---main-font);
    font-size: 18px;
    color: var(--secondary-color);
    font-weight: bold;
}

.description{
    font-family: var(--secondary-font);
    color: var(--dark-color);
    font-size: 16px;
    line-height: 1.5;
}

.link{
    font-weight: 600;
    font-family: var(--secondary-font);
}

.delivery{
    position: absolute;
    width: 16px;
    height: 16px;
    margin-top: .2rem;
    margin-left: .8rem;
}