.navbar{
    display: flex;
    flex-direction: row;
    font-family: var(--secondary-font);
    max-height: 50px;
    padding: 1%;
}

.image{
    min-width: 100px;
    min-height: 50px;
    position: relative;
    margin-left: 3%;
}

.listcontainer{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-left: 10%;
    list-style: none;
    font-size: large;
    font-weight: 800;
}

.listcontainer .li{
    list-style: none;
}

.menu{
    display: none;
}
a{
    text-decoration: none;
    color: var(--dark-color);
}
a:visited{
    color: var(--dark-color);
    text-decoration: none;
}
a:hover{
    color: var(--dark-color);
    text-decoration: underline;
}
a:active{
    color: var(--secondary-color);
    text-decoration: none;
}

.menucontainer{
    visibility: hidden;
}

@media (max-width: 1050px) {

    .navbar{
        padding: 2%;
    }
    .menu {
        display: flex;
        margin: auto;
        position: relative;
        left: 20vw;
        cursor: pointer;
    }

    .listcontainer{
        display: none;
    }

    .menucontainer{
        position: absolute;
        display: flex;
        align-items: center;
        visibility: visible;
        border-radius: 2%;
        background-color: var(--light-color);
        padding: 2%;
        left: 65vw;
        margin-top: 80px;
        z-index: 1000;
    }

    .menuList{
        display: flex;
        flex-direction: column;
        text-align: right;
        gap: 8px;
        list-style: none;
        font-size: large;
        font-weight: 800;

    }

/* Experiment using focus-within, while interesting JS is going to be used for menu
    .listcontainer {
        position: absolute;
        background-color: var(--light-color);
        border-radius: 2%;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 5%;
        left: 50vw;
        top: 8vh;
        z-index: 100;
    }


    .listcontainer {
    display: none;
  }
  
  .menu:focus-within + .listcontainer{
    display: flex;
  }

  .menu img{
    width: 100%;
    height: 100%;
  }
*/
}

@media (max-width: 520px) {

    .menucontainer{
        left: 55vw;
    }
}