
.container{
    display: flex;
    margin-left: 15%;
    gap: 50px;
}

.image{

    height: 250px;
    width: 250px;
    overflow: hidden;
    object-fit: cover;
    object-position: 0% 0%;
}

.list{
    list-style: none;
}

.list h3{
    font-size: 18px;
    font-weight: bold;
}

