@font-face {
  font-family: 'Markazi Text';
  src: url('/src/data/icons_assets/markazi.ttf') format('truetype');
}

@font-face {
  font-family: 'Karla';
  src: url('/src/data/icons_assets/Karla-VariableFont_wght.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --primary-color: #F4CE14;
  --primary2-color: #495E57;
  --secondary-color: #EE9972;
  --secondary2-color: #FBDABB;
  --light-color: #EDEFEE;
  --dark-color: #333333;
  --main-font: 'Markazi Text';
  --secondary-font: 'Karla';
}
html {
  scroll-behavior: smooth;
}

